/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*  ==========================================================================
	Base styles: opinionated defaults
	========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Bitter);

$badass: #BADA55;
$darkgrey: #323232;
$p: #999999;
$bg: #ececec;


body{
	background-color:$bg;
}

#container{
	width: 90%;
	margin: 0 auto;
	//border: 1px solid $badass;
}

header{
	color: $darkgrey;

	h1{
		font-family: 'Bitter', serif;
		border-bottom: 1px solid $p;
		text-align:center;
	}
	.menu{
			.title{
				overflow: hidden;
				position: relative;
				border-bottom: 1px solid $darkgrey;
			}
		h1{
			text-align: left;
			float: left;
			a{
				font-family: 'Bitter', serif;
				text-decoration: none;
				color: $darkgrey;
			}
		}
		.menuicon{
			position: absolute;
			right: 0;
		}
	}
	

	.menu{
		overflow: hidden;
		border-bottom: 1px solid $darkgrey;
		
		#language-chooser{
			float: right;

			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				overflow: hidden;

				li{
					float:left;
					margin-right: 10px;
					cursor: pointer;
					a{
						img{
							display: none;
						}
						p{
							//display: none;
						}
					}
				}
			}
		}


		nav{
			display: inline-block;

			ul{
				padding:0;
				overflow: hidden;

				li{
					float: left;
					a{
						text-decoration: none;
						color: $darkgrey;
						margin-right: 20px;
						&:hover, &:active, &:focus {
							outline: 0;
							border: 0;
						}
					}
				}
			}
		}

		#navicon{
			float:right;
			margin: -55px -74px 0 0;
			width:20px;
		}
	}
}

.law{

	h1{

	}
	p{

	}
	.rightscontainer{
		margin: 0 auto;
		overflow: hidden;

		.rightbox{
			width: 50%;
			//border: 1px solid black;
			float: left;

			img{
				height: 100px;
				width: 90%;
				margin: 0 auto 20px auto;
				display: block;
			}

			a{
				text-decoration: none;
				color: $darkgrey;
				margin-left: 20px;
				display: block;
				margin: 1em 0 1em 20px;
				font-family: 'Miriad pro';
				float: left;
				&:hover{
					text-decoration: underline;
				}
			}

			p{

			}
		}

		.maritime{

		}

		.international{

		}

		.family{

		}

		.arbitrage{

		}

	}
}


.rights{

}

.team{

}

#content{
}

footer{
	background: #111;
	color: #888;
	width: 100%;

	#footer-left, #footer-middle, #footer-right{
		display: inline-block;
		vertical-align: top;
	}

	ul{
		padding: 0;

		li{
			display: inline-block;

			&:after{
				content: ' |';
			}

			&:last-child{
				&:after{
					content: '';
				}
			}
		}
	}

	h3{
		color: white;
	}

	p{
		text-transform: uppercase;
	}

	a{
		text-decoration:none;
		color: #888;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

	header{
		h1{
			text-align: left;
		}

		nav{
			border: 1px solid red;
			display: inline-block;

			ul{
				padding:0;

				li{
					float: left;
				}
			}
		}

		#navicon{
			display:none;
		}
	}
	
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {

	header{
		h1{
			text-align: left;
		}

		nav{
			border: 1px solid red;
			display: inline-block;

			ul{
				padding:0;

				li{
					float: left;
				}
			}
		}

		#navicon{
			display:none;
		}
	}

}




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
