/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Color Codes
   ========================================================================== */

/*
 * Main.
 */

/*
background: #ffffff
border: #dddddd
feature background: #f5f5f5
font h1: #181818
font p: #777777

NAVIGATION
---
active: #181818
non active: #bbbbbb
hover: #58a2cb

NAVIGATION MOBILE ICON
---
active #bbbbbb
non active: #181818

HOME LAW BUTTONS
---
non active: #dddddd
non active font: #181818
hover: #58a2cb
hover font: #fffff

FORM
---
border: #bbbbbb
required field asterix: #58a2cb

FOOTER
---
background: #181818
font h1: #e5e5e5
font p: #666666

SIDE NOTE
---
Color #58a2cb not definitive yet.
*/

$border: #dddddd;
$feature-background: #f5f5f5;
$menucolor: #bbbbbb;
$menuhovercolor: #58a2cb;
$menuactivecolor: #181818;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Main */

body {
    color: #777;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    color: #181818;
}

.feature{
    //text-align: center;
    padding: 20px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    background-color: $feature-background;
}

.law {
    
    //border: 1px solid red;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    a{
        img {
            width: 140px;
            //padding: 8px;
        }
        .title{

            p{
                display: inline-block;
            }
        }

    }
}

.faded {
    opacity: .5;
}

/* Team */

.team {
    text-align: center;
}

figure {
    display: inline-block;
    padding: 30px 0;

    img {
        width: 50%;
    }
}

/* Header */

header{
    margin-left: 7px;
    height: 50px;

    .logo{
        float: left;
        margin-top: 10px;
    }

    header{
        padding-top: 5px;
    }

    h1 {
        margin: 0;
        margin-left: 50px;
        //margin-top: 5px;
        a{
            text-decoration: none;
            color: #000;
        }
    }


    nav{
        ul{
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                display: inline-block;
                //margin-right: 20px;
                color: $menucolor;
                &:hover{
                    a{
                        color: $menuhovercolor;

                    }
                }
                &.selected{
                    a{
                        color: $menuactivecolor;

                    }
                }
                a{
                    text-decoration: none;
                    color: $menucolor;

                }
            }
        }
        &.menu{
            img{

                width: 20px;
                &#nav{
                    position: absolute;
                    right: 7px;
                    top: 11px;
                }
            }
            ul{
                li{
                    a{

                    }
                }
            }
        }
        &.lang{
            display: none;
        }
        
    }
}

/* Contact */

.location {
    border-bottom: 1px solid #ddd;
    padding: 100px 0;
}

#map {
    display: block;
    position: absolute;
    right: 10px;
    top: 335px;
}

input.inputText, input.inputPassword, input.inputSearch, input.inputDate, textarea {
    //font-family: "Crimson Text", georgia, serif;
    font-size: 0.8em;
    background-color: #FFFFFF;
    border: 0 none;
    border: 1px solid #CCC;
    color: #666666;
    margin: 0;
    padding: 0.75em 0;
    width: 100%;
    text-indent: 1em;
    border-radius: 2px;
    outline: none;
}

textarea {
    line-height: 1.8;
    resize: none;
}

input.inputText:focus, input.inputPassword:focus, input.inputSearch:focus, input.inputDate:focus, textarea:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
      -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
       -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
           box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.inputSubmit {
    margin:0 0 1.3em 0;
    padding: 0.7em 1em;
    font-size: 0.9em;
    //font-family: 'Oswald', arial, sans-serif;
    font-weight: normal;
    line-height: 2em;
    text-transform: uppercase;
    background: #181818;
    border: none;
    color: #fff;
    -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
       -ms-border-radius: 2px;
        -o-border-radius: 2px;
           border-radius: 2px;
    cursor: pointer;

}

.inputSubmit:hover {
    background-color: #5bb75b;
}

label {
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    line-height: 2.25em;
    margin-bottom: 0;
    list-style: none outside none;
    text-transform: uppercase;
}


.warning,
.formError {
    color: red;
}

.success {
    color: green;
}

/* Footer */

footer {
    background-color: #181818;
    padding: 0 20px;
    
    a{
        color: #777;
        text-decoration: none;
    }

    h3 {
        color: #e5e5e5;
    }

    p {
        color: #666;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            color: #666;
        }
    }

    .links {
        li {
            display: inline-block;
            &:after {
                content: ' |';
            }
            &:last-child{
                &:after {
                    content: '';
                }
            }
        }
    }

    div {
        display: inline-block;
        vertical-align: top;
        margin-right: 80px;
        &:last-child{
            margin-right: 0;
        }
    }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 321px) {
    .mainnav {
        display: block !important;
    }
    #nav {
        display: none;
    }
    footer {
        //padding: 20px 60px;
        .footer-content{
            //border: 1px solid red;
        }
    }
}

@media only screen and (min-width: 520px) {
    footer{
        .footer-content{
            //border: 1px solid orange;
            width: 400px;
        }
    }
}

@media only screen and (min-width: 640px) {
    footer{
        .footer-content{
            //border: 1px solid green;
            width: 100%;
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}