<div class="law">
<!-- 	<h1>{{title}}</h1>
	<p>{{body}}</p> -->
	<div class="rightscontainer">
		<div class="rightbox maritime">
			<img src="" alt="">
			<h2>{{maritimetitle}}</h2>
		</div>
		<div class="rightbox international">
			<img src="" alt="">
			<h2>{{internationaltitle}}</h2>
		</div>
		<div class="rightbox family">
			<img src="" alt="">
			<h2>{{familytitle}}</h2>
		</div>
		<div class="rightbox arbitrage">
			<img src="" alt="">
			<h2>{{arbitragetitle}}</h2>
		</div>
	</div>
</div>