<div class="law">
	<h1>{{title}}</h1>
	<p>{{body}}</p>
	<div class="rightscontainer">
		<div class="rightbox maritime">
			<img src="" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas pellentesque lorem a imperdiet. Fusce non tortor risus. Donec in nisl erat. Aenean ac lorem massa, sit amet elementum eros. Praesent fringilla, orci quis condimentum iaculis, est orci vehicula felis, vel imperdiet metus enim non sapien. Duis sapien sapien, ultricies et suscipit quis, tempus at nulla.</p>
		</div>
		<div class="rightbox international">
			<img src="" alt="">
			<p>Integer iaculis eros quis sapien semper non interdum nisl pulvinar. Nulla sollicitudin porttitor sodales. Donec vitae est id velit tincidunt gravida vel id urna. Ut ultrices, ligula non tincidunt rutrum, odio erat sagittis mi, non faucibus ligula nibh mattis neque. Sed venenatis hendrerit eleifend. Quisque volutpat mattis pretium. Morbi eu convallis urna. Sed vulputate sollicitudin dignissim. Donec id velit est.</p>
		</div>
		<div class="rightbox family">
			<img src="" alt="">
			<p>Vivamus commodo molestie varius. In ac enim odio. Cras in sodales felis. Quisque sed ultricies turpis. Vivamus est felis, tincidunt non semper eu, vulputate non magna. Mauris ultricies tellus mauris. In sed justo velit, et semper mauris. Aenean porttitor facilisis dui, non dignissim urna consequat vitae.</p>
		</div>
		<div class="rightbox arbitrage">
			<img src="" alt="">
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ultricies, ante sed imperdiet ullamcorper, velit mi auctor odio, at cursus dui erat sollicitudin dolor. Mauris lobortis dolor a libero semper eleifend. Maecenas mi diam, sollicitudin at egestas eu, venenatis ut orci. Donec fermentum fringilla convallis. Morbi imperdiet semper purus, ac ullamcorper sapien iaculis ut. Pellentesque magna justo, congue id porttitor ut.</p>
		</div>
	</div>
</div>