<div class="law">
	<div class="rightscontainer">
		<div class="rightbox maritime">
			<img src="" alt="">
			<a href="#" rel="maritime">{{maritimetitle}}</a>
		</div>
		<div class="rightbox international">
			<img src="" alt="">
			<a href="#" rel="international">{{internationaltitle}}</a>
		</div>
		<div class="rightbox family">
			<img src="" alt="">
			<a href="#" rel="family">{{familytitle}}</a>
		</div>
		<div class="rightbox arbitrage">
			<img src="" alt="">
			<a href="#" rel="arbitrage">{{arbitragetitle}}</a>
		</div>
	</div>
	<h1>{{title}}</h1>
	<p>{{body}}</p>
</div>